@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #8d8c8c;
  background-image: url(assets/bg1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header {
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0%;
  padding: 1rem;
  text-align: center;
  color: red;
  font-size: 3rem;
  text-transform: uppercase;
}
.container {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
}
.choice:nth-child(1) {
  background-color: #961030;
  transform: rotate(45deg);
}
.choice:nth-child(2) {
  background-color: #f7c100;
  transform: rotate(90deg);
}
.choice:nth-child(3) {
  background-color: #31182c;
  transform: rotate(135deg);
}
.choice:nth-child(4) {
  background-color: #e48028;
  transform: rotate(180deg);
}
.choice:nth-child(5) {
  background-color: #961030;
  transform: rotate(225deg);
}
.choice:nth-child(6) {
  background-color: #f7c100;
  transform: rotate(270deg);
}
.choice:nth-child(7) {
  background-color: #31182c;
  transform: rotate(315deg);
}
.choice:nth-child(8) {
  background-color: #e48028;
  transform: rotate(360deg);
}
.spinBtn {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  border: 4px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}
.spinBtn::before {
  content: "";
  position: absolute;
  top: -28px;
  width: 20px;
  height: 30px;
  background-color: black;
  clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}
.wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.6), 0 0 0 15px rgba(255, 255, 255, 0.4),
    0 0 0 18px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: transform 5s ease-in-out;
}

.choice {
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: bottom right;
  clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.choice span {
  position: relative;
  transform: rotate(45deg);
  font-size: 2rem;
  font-weight: bolder;
}

.span-low {
  color: white;
  text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
}
.span-dark {
  color: black;
  text-shadow: 3px 5px 2px rgba(255, 255, 255, 0.4);
}
/* .choice span::after {
  content: "€";
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
} */

.result {
  background-color: black;
  position: absolute;
  bottom: 10%;
  opacity: 0;
  width: 400px;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
.result a {
  text-decoration: none;
  color: red;
}

@media (max-width: 800px) {
  header h1 {
    font-size: 1.8rem;
    text-align: right;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}

@media (max-width: 450px) {
  .container {
    width: 280px;
    height: 280px;
  }
  .result {
    width: 280px;
    bottom: 10px;
  }
}

/* burger */

nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 50%;
  margin-left: 4rem;
}

.drop-down {
  padding: 25px;
  position: absolute;
  width: 100%;
  height: auto;
  background: black;
  z-index: 999;
  top: -100%;
  transition: top 0.4s ease-in-out;
}

.drop-down li {
  height: 50px;
  line-height: 50px;
  text-align: left;
}

.drop-down a {
  display: block;
  font-size: 1.5rem;
  color: red;
  text-decoration: none;
}

.down {
  top: 0;
  transition: top 0.4s ease-in-out;
}

.menu {
  box-sizing: content-box !important;
  position: fixed;
  top: 25px;
  left: 25px;
  width: 75px;
  height: 75px;
  text-align: center;
  z-index: 999;
}

.drop-down li a:hover {
  /* color: yellow; */
  animation: clign 0.5s ease-in-out forwards infinite;
}

.menu a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin: 0 auto;
  color: red;
}

.trigger {
  animation: menu-spin-back 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.round .trigger {
  animation: menu-spin 0.4s ease-in-out;
  animation-fill-mode: forwards;
  color: yellow;
}

@-webkit-keyframes menu-spin {
  50% {
    border-radius: 100%;
  }
  100% {
    border-radius: 100%;
    transform: rotate(360deg);
  }
}
@keyframes menu-spin {
  50% {
    border-radius: 100%;
  }
  100% {
    border-radius: 100%;
    transform: rotate(360deg);
  }
}

@-webkit-keyframes menu-spin-back {
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: red;
  }
  97% {
    color: yellow;
  }
  100% {
    color: red;
    transform: rotate(360deg);
  }
}
@keyframes menu-spin-back {
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: red;
  }
  97% {
    color: yellow;
  }
  100% {
    color: red;
    transform: rotate(360deg);
  }
}
@keyframes menu-spin-back {
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: red;
  }
  97% {
    color: yellow;
  }
  100% {
    color: red;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes clign {
  0% {
    color: red;
    font-weight: normal;
  }

  20% {
    color: yellow;
    font-weight: bold;
  }
  80% {
    color: yellow;
    font-weight: bold;
  }
  100% {
    color: red;
    font-weight: normal;
  }
}
@keyframes clign {
  0% {
    color: red;
    font-weight: normal;
  }

  20% {
    color: yellow;
    font-weight: bold;
  }
  80% {
    color: yellow;
    font-weight: bold;
  }
  100% {
    color: red;
    font-weight: normal;
  }
}
