*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  background-image: url(/assets/des/des.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* position: relative; */
  min-height: 105vh;
}
button {
  cursor: pointer;
  z-index: 99;
  box-shadow: 3px 2px 2px red;
}
main {
  width: auto;
  /* margin: 0; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
section {
  width: 300px;
  padding: 0.5rem;
}
.section-1 {
  /* position: absolute; */
  /* background-color: grey; */
  color: yellow;
  border-radius: 10px;
}
.section-1_2 {
  background-color: grey;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.section-2 {
  /* background-color: black; */
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section-2_2 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.section-3 {
  /* background-color: red; */
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* position: relative; */
}
.section-3_2 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* background-color: black; */
  color: red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section-4_score {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
}

img {
  width: 40px;
}
#computLaunched {
  opacity: 0;
  /* width: 110px;
  margin: auto; */
  /* z-index: -1; */
  display: flex;
  justify-content: center;
  /* margin-top: 30px; */
  position: absolute;
  bottom: 10%;
  /* transform: translateY(-50%); */
}
#launched {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.comput,
.you {
  position: relative;
  height: 150px;
}
.comput {
  margin-top: 1rem;
}
/* .comput-msg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
} */
#your-score,
#title,
#result-score,
#final-score,
#comput-msg,
#launch,
#stop {
  opacity: 0;
}

#comput-msg h2 {
  /* width: 80%; */
  text-align: center;
}
/* #result-score {
  position: absolute;
  bottom: 10px;
} */
/* #stop {
  transition: opacity 2s;
} */
#reset {
  display: none;
}
#start {
  display: block;
  width: 250px;
  height: 150px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border-radius: 10px;
  font-size: 2rem;
}
#reset,
#start {
  margin: auto;
}
#launched li:last-child {
  animation: rotation 1ms 800 linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* header */
header {
  position: relative;
  background-color: white;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 20px;
}

header button {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}
.number {
  font-weight: bolder;
}
.number-final {
  font-size: 1.4rem;
  border: solid 2px red;
  padding: 0 3px;
  box-shadow: 3px 2px 2px red;
}
/* responsive */
@media screen and (max-width: 1500px) {
  main {
    bottom: 30%;
  }
}
@media screen and (max-width: 800px) {
  main {
    bottom: 40%;
  }
  h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 420px) {
  main {
    bottom: 13%;
  }
}
@media screen and (max-width: 320px) {
  main {
    bottom: 0%;
  }
}
/* @media screen and (max-width: 320px) {
} */
